doctype html
html(ng-app='FiveScorersApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/angular/angular.min.js')
    script(src='/angular/FiveScorersApp.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
