extends layout

block content
  h1 Choose Players

  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form")
        .form-group
            label.col-xs-10.col-sm-2.control-label(for="name") Name
            .col-xs-12.col-sm-10
              input#name.form-control(name="name")
