extends layout

block content(ng-controller="")
  h1= title

  .row
      .col-xs-12.col-sm-8(ng-controller="playerListCtrl")  
        h4 (ng-repeat="player in data.players")
          {{ player.name }}
